@import url('https://fonts.googleapis.com/css2?family=Modak&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding : 0;
    margin: 0;
    box-sizing: border-box; 
    color: white;
}
html,
body{
    background: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height:1.7em;
}
.image2,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.signature{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:15px;
}
.uppersection{
    display: flex;
    height: 70px;  
    cursor: pointer;
    
}
.coloum{
    display: flex;
    margin-left: 50%;
    padding-top: 20px;
    gap: 65px;
}
.coloum a{
text-decoration: none ;
position: relative;
}
.coloum a::after{
    content: ' ';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left:0;
    bottom: -4px;
    transition: 0.3s;
}
.coloum a:hover::after{
    width: 100%;
}
.image{
    background-image: url(harsh.jpg);
    width: 120px;
    background-size: cover;
}



.image2{
    opacity: 0.8;
    background-image: url(himag.png);
    height: 660px;
    background-size: 82%;
    background-position:bottom right;
    background-attachment:fixed;
}
.text{
    display:inline-block;
    margin: 270px 250px;
}   
.A{
    font-size:40px;
    font-weight:600;
    font-family: "Permanent Marker", serif;
}
.C{
    font-size:60px;
    font-weight:900;
    margin-top: 30px;
    font-family: "Permanent Marker", serif;
}


.box2{
    min-height: 100vh;
    padding-top: 120px;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    background-image: url(HK.png);
    min-height: 500px;
    width: 350px;
    border: solid orangered;
    border-radius: 40px;
    box-shadow: 0px 0px 17px orangered;
    

}
.img2:hover{
    border: solid yellow ;
    box-shadow: 0px 0px 17px yellow;
    transform:translateY(-10px);
    transition: background 0.2s , transform 0.2s;
    /* transform : scale(1.02); */
    /* transition: 0.1s ease-in-out; */
}  
.text2{
    padding-top: 10px;
    margin-left:  50px;
    min-height: 500px;
    width: 580px;
}
.text2 h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.3em;
    margin-bottom: 15px;
}
.tab-titles{
    display: flex;
    margin: 15px 0px 30px;
    font-size: 19px;
    gap:10%;
}
.tab-links{
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height:3px;
    background: white;
    position:absolute;
    left:0;
    bottom: -8px;
    transition:0.3;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 7px  0;
}
.tab-contents ul li span{
    color: rgb(167, 40, 40); 
    font-size: 20px;
    font-weight: 800;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



.box3{
    padding-left:10%;
    font-size: 40px; 
    font-weight: 800;
}
.box3 span{
    font-size:50px;
}

.box4{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px, 1fr));
}
.colm{
    height: 400px;
    display: flex ;
    position: relative;
    margin: 100px 0px 80px ;
    gap:90px;
}
.colm :hover{
    transform : scale(1.01);
    transition: 0.5s ease-in-out;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(103, 1, 1));
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 35px;
    text-align: center; 
    font-size: 14px; 
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px;
}
.colm :hover .layer{
    height: 100% ;
}
.img3{
    background-image:url(amazon.jpg);
    width: 302px;
    height: 400px;
    background-position:left ;
}   
.img4{
    background-image:url(landing.jpg) ;
    width: 302px;
    height: 400px;
}
.img5{
    background-image: url(parallax.jpg); 
    width: 302px;
    height: 400px;
    background-position: left bottom;
}

.box5{
    justify-items: center;
    margin: 10px  0px  40px;
}
#text3 button{
    font-size: 1.9em;
    padding: 2px 10px 2px 10px ;
    border: solid white;
    background-color: black;
}


.contact{
    padding-bottom:10px;
    font-size: 40px;
    padding-left: 10%;
    font-family: "Roboto", sans-serif;
    
    
}
.lastbox{
    display: flex;
    
}
.photo{
    padding: 3% 0% 6% 20%;
    width:50%;
    cursor: pointer;
}
.upbox{
    display: flex;
    gap: 8%;
    font-size: 25px;
}
.img6{
    background-image:  url(dial.png);
    height: 30px;
    width: 40px;
}
.img7{
    background-image: url(mail.png) ;
    height: 30px;
    width: 40px;
}
.downbox{
    padding-top:10%;
    display: flex;
    gap: 7% ;
}
.img8{
    background-image: url(tele.png);
    background-size: 70%;
    height: 30px;
    width: 40px;
}
.img9{
    background-image: url(insta.png) ;
    background-size:160%;
    height: 30px;
    width: 40px;
}
.img10{
    background-image:url(inkedin.png) ;
    height: 30px;
    width: 40px;
    background-size: 60%;
}
.img11{
    background-image:url(cv.jpg) ;
    height: 30px;
    width: 40px;
    background-size: 60%;
}
.img67 :hover{
    transform : scale(1.1);
    transition: 0.1s ease-in-out;    
}
.ct67 :hover{
    transform : scale(1.1);
    transition: 0.1s ease-in-out;    

}
.downbox :hover{
    transform : scale(1.3);
    transition: 0.1s ease-in-out;
}

#button {
    margin-top: 50px;
    font-size: 25px;
    padding: 5px 10px 5px 10px ;
    border: solid white;
    background-color: black;
}
.contact-right form{
    padding: 4% 10% 5% 6%;
}
form input , form textarea{
    width:100%;
    border: solid  ;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

#footer{
    color: skyblue;
    font-size: 30px ;
    padding-left:24% ;   
    padding-top: 90px;
    font-family: "Permanent Marker", serif;
    text-transform:uppercase;
}
#cr{
    background:#541a1acf;
    padding: 30px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 5px 10px orange;
}


@media only screen and (max-width:420px){
    .image2,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.signature{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        border-radius:15px;
    }
    
    .coloum{
        margin-left:40px ;
        gap:20px;
    }
    .text{
        margin: 120px 40px;
        border: solid red;
    }
    .image2{
        background-size: 150%;
        height: 90vh;
        background-position:bottom;
        /* border: solid red */
    }
    .box2{
        min-height: 100vh;
        padding-top: 80px;
        /* border: solid red; */

    }
    .grid-item{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .img2{
        margin-left: 14%;}

    .text2{
        padding-top: 30px;
        width: 400px;
    }    
    .box4{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(320px, 1fr));
        margin-top: 60px;
    }
    .colm{
        height: 1400px;
        padding-left: 15%;
        display: block;
        position: relative;
        margin: 10px 0px 50px ;
    }
    .img3,.img4,.img5 {
        margin-bottom: 15%;
    }
    .box5{
        margin: 0px  0px  50px;
    }
    .lastbox{
        display: block;
    }
    .photo{
        padding: 7% 0% 6% 20%;
        width:100%;
        cursor: pointer;
    }
    .upbox{
        display: flex;
        gap: 8%;
        font-size: 25px;
    }
    .img8{
        background-size: 60%;
    }
    .img9{
        background-size:160%;
    }
    .img10{
        background-size: 60%;
    }
    .img11{
    background-size: 60%;}
} 